@font-face {
    font-family: titania;
    src: url(css/fonts/titania-regular.tff);
}

html {
    box-sizing: border-box;
}

#container {
    width: 100%;
    margin: auto;
}

body {
    width: 100%;
    background-color: #0054a6;
    color: #ffffff;
    margin: auto;
    font-size: 20px;
}

header {
    margin: auto;
    width: 100%;
    background-color: #ffffff;
    color: #0054a6;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

header li {
    padding-left: 10px;
}

main {
    width: 100%;
    box-sizing: inherit;
    margin: auto;
    padding-top: 35px;
}

article {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

figcaption {
    font-size: 15px;
}

.icon-bar {
    padding-bottom: 2px;
}

main img {
    width: 100%;
    margin: auto;
    height: auto;
    margin-top: 40px;
}

#stick {
    background-color: #ffffff;
}

h1 {
    font-family: titania;
    font-size: 75px;
    color: #f9bd04;
    -webkit-text-stroke: 1px #900227;
    margin: 1px;
    text-transform: uppercase;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    margin: 1px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
}

h3 {
    font-size: 20px;
    color: #f11c24;
}

h4 {
    font-size: 15px;
}

a {
    color: inherit;
}




@media screen and (min-width: 784px) {

    .slimmenu li {
        display: inline;
    }

    #container {
        width: 75%;
    }

}

@media screen and (min-width: 1000px) {


}
